    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 text-center"><img class="rounded img-fluid border p-2" src="#" width="200px" height="150px"></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <p><strong>Flights</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Go:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span>Text</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Return:&nbsp; &nbsp; &nbsp; &nbsp;<span>Text</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 text-center"><img class="rounded img-fluid border p-2" src="#" width="200px" height="150px"></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <p><strong>Hotel</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Hotel Esmeralda tal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 text-center"><img class="rounded img-fluid border p-2" src="#" width="200px" height="150px"></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <p><strong>Events</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Europa Park</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>Travellers</p>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p>&nbsp;2</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>Flights Cost</p>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p><i class="fa fa-eur"></i>&nbsp;2</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>Hotel Cost</p>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p><i class="fa fa-eur"></i>&nbsp;2</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>Events Cost</p>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p><i class="fa fa-eur"></i>&nbsp;2</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>VAT (5%)</p>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p><i class="fa fa-eur"></i>&nbsp;2</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p style="font-size: 20px;"><strong>Total</strong></p>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p style="font-size: 20px;"><i class="fa fa-eur"></i>&nbsp;<strong>2</strong></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col text-center"><button class="btn btn-outline-primary" type="button"><i class="fa fa-backward"></i>&nbsp;Back to Trip</button></div>
                            <div class="col text-center" style="text-align: right;"><button class="btn btn-outline-primary text-left" type="button">Add to WishList</button></div>
                            <div class="col"><button class="btn btn-primary btn-block" type="button" style="background-color: rgb(59,79,101);"><i class="fa fa-paypal"></i>&nbsp;Pay Now</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>