<div class = "container">
<footer id="main-footer" class="text-center p-4">
    <div class="social"><a href="https://www.instagram.com/visittallinn/" class="fa fa-instagram" target="_blank"></a>
                        <a href="https://www.facebook.com/VisitTallinn" class="fa fa-facebook-official" target="_blank"></a>
                        <a href="https://twitter.com/VisitTallinn" class="fa fa-twitter" target="_blank"></a>
    </div>
    <ul
         class="list-inline">
         <li class="list-inline-item"><a href="#">Home</a></li>
         <li class="list-inline-item"><a href="#">Services</a></li>
         <li class="list-inline-item"><a href="#">About</a></li>
         <li class="list-inline-item"><a href="#">Terms</a></li>
         <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>

    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year"></span> Python Travels</p>
        </div>
      </div>
    </div>
</footer>
</div>

 <!-- This section is placed in base.html, as a practice to load the libraries only once.
 <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
</script>

<script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
 </script>

-->
