<div class="mt-4">
    <div class="container">
        <h1>Heading</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-4 m-3" style="height: 348px;">
            {% if thetrips %}
                {% for trip in thetrips %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-4">
                        <div class="card border-primary shadow">
                            <img class="card-img-top w-100 d-block" src="{{trip.photo_main.url}}">
                            <div class="card-body">
                                <h4 class="card-title oneline">{{trip.comercial_reference}}</h4>
                                <h6 class="text-muted card-subtitle mb-2">{{trip.marketing_message}}</h6>
                                <p class="card-text oneline">{{trip.main_description}}</p>
                                <div class="row">
                                    <div class="col">
                                        <a href ="{% url 'trips:trip' trip.id %}" class="btn btn-outline-primary btn-block" type="button" style="color: rgb(39,111,13);">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No Trips Available</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

