{% load static %}
<nav class="navbar navbar-expand-md navbar-light fixed-top py-0.5" id="main-nav">
    <div class="container">
        <a href="#home" class="navbar-brand">
            <img src= "{% static "pages/img/logo.png" %}" width="50" height="50" alt="">
            <h3 class="d-inline align-middle">Python travels</h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#contactModal" data-toggle="modal" data-target="#contactModal" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#register" class="nav-link">Register</a>
                </li>
            </ul>
        </div>
        <!-- LOGIN MODAL TRIGGER -->
        <button class="btn btn-dark" data-toggle="modal" data-target="#loginModal">Login</button>

   </div>
</nav>

{% include 'partials/_contactModal.html' %}
{% include 'partials/_loginModal.html' %}