<div class="modal" id="newaccountModal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class = "modal-body">
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstName">User Name</label>
                        <input class="form-control" type="text" placeholder="First Name" name="firstName">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email ID</label>
                        <input class="form-control" type="email" placeholder="Enter your email" name="Email">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input class="form-control" type="password" placeholder="Password" name="Password">
                    </div>
                    <div class="form-group">
                        <label for="Re-TypePassword">Re-Type Password</label>
                        <input class="form-control" type="password" placeholder="Re-Type Password" name="Re-TypePassword">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Create account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
