<div class="newsletter-subscribe">
    <div class="container">

        <div class="row mt-4">
            <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-7">
               <div class="intro">
                   <h3 class="text-center">Subscribe for our Newsletter</h3>
                        <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula.</p>
               </div>
                <form class="form-inline" method="post">
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                    <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
                </form>
            </div>
       </div>
    </div>
</div>