{%  load app_filters %}
<div class="container mt-3">
    <br>
    <div>
        <ul class="nav nav-pills nav-justified shadow">
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="pill" href="#tab-1">
                    <i class="fa fa-plane-departure"></i> Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="pill" href="#tab-2">
                    <i class="fa fa-avianex"></i> Airports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="pill" href="#tab-3">
                    <i class="fa fa-hotel"></i> Hotels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="pill" href="#tab-4">
                    <i class="fa fa-hiking"></i> Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="pill" href="#tab-5">
                    <i class="fa fa-ring"></i> Rings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" role="tab" data-toggle="pill" href="#tab-6">
                    <i class="fa fa-suitcase-rolling"></i> Trip Templates</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" role="tabpanel" id="tab-1">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr>
                            {% for key, value in dict_display_flights.items %}
                            <th>{{ value|upper }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <body>
                        {% for row in flights %}
                        <tr>
                            {%  for key, value in dict_display_flights.items  %}
                            <td> {{row|hash:value}}</td>
                            {%  endfor  %}
                        </tr>
                        {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="tab-2">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr>
                            {% for key, value in dict_display_airports.items %}
                                <th>{{ value|upper }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in airports %}
                            <tr>
                                {% for key, value in dict_display_airports.items %}
                                    <td>{{row|hash:value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="tab-3">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr>
                            {% for key, value in dict_display_hotels.items %}
                                <th>{{ value|upper }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in hotels %}
                            <tr>
                                {% for key, value in dict_display_hotels.items %}
                                    <td>{{row|hash:value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="tab-4">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr>
                            {% for key, value in dict_display_event.items %}
                                 <th>{{ value|upper }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in events %}
                            <tr>
                                {% for key, value in dict_display_event.items %}
                                    <td>{{row|hash:value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="tab-5">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr>
                            {% for key, value in dict_display_ring.items %}
                                <th>{{ value|upper }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in rings %}
                            <tr>
                                {% for key,value in dict_display_ring.items %}
                                    <td>{{row|hash:value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade show active" role="tabpanel" id="tab-6">
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                        <tr>
                            {% for key, value in dict_display_triptemplate.items %}
                              <th>{{ value|upper }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in triptemplates %}
                            <tr>
                                {% for key, value in dict_display_triptemplate.items %}
                                    <td>{{row|hash:value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>